.body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 50px;
    width: 33%;
    padding: 10px 20px;
    background-color: rgb(156, 188, 125);
    border-radius: 7px;
    height: auto;
    min-height: 120px;
}
.top-box {
 height: 20px;
 width: 300px;
 padding: 5px 10px;
 border-radius: 5px;
 outline: none;
 font-size: 25px;
 margin-top: 10px;
}
.add-btn{
    height: 35px;
    padding: 0px 23px;
    font-size: 25px;
    margin-left: 10px;
}
/* .containt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    height: 30px;
  
} */
.todo{
    font-weight: 500;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 5px 10px;
border-radius: 6px;
cursor: pointer;
}
.todo:hover{
    background-color: rgb(210, 235, 228);
}
.delete-btn{
    padding: 5px 10px;
}
button{
    cursor: pointer;
    border-radius: 5px;
}
center{
    font-size: 25px;
    font-weight: 600;
}
input.task-done{
    border-radius: 0px;
}